<div class="face-snap-card" [ngClass]="{ 'snapped': useHasSnapped }">
    <h2>{{ faceSnap.title | titlecase}}</h2>

    <a routerLink="/facesnaps">BACK</a>

    @if (faceSnap.location) {
    <p>Localisation: {{ faceSnap.location }}</p>
    }

    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p>FaceSnap créé le : {{ faceSnap.createdDate | date: 'le d MMMM yyyy' }}</p>

    <p>
        <button (click)="onSnap()">{{ snapButtonText }}</button>
        <span [ngStyle]="{
            'color': 'rgb(0, '+ faceSnap.snaps +', 0)',
            'font-weight': faceSnap.snaps >= 10 ? 'bold' : 'normal',
        }">{{ faceSnap.snaps | number: '1.0-0' }}</span>
    </p>
</div>